.logo{
    height:40px;
    width: 40px;
    margin-top: 10px;
}

button{
    height: 35px;
    background-color: #4243d8;
    color:white;
    border:none;
    text-transform: uppercase;
    border-radius: 4px;
}

.nav-btn{
    width:135px;
    margin-top:10px;
}

.logo-cont{
    display: flex;
    flex-direction: row;
    gap:7px;
}

.nav-cont{
    display:flex;
    flex-direction: row;
    gap:35px;
    text-transform: uppercase;
}


.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:20px;
    padding-right:20px;
}

.home-section{
    background-image: url('images/you-bgimage.jpeg');
    height: 68%;
    color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding:30px;
}

.home-section h1{
    text-transform: uppercase;
}

body{
    height: 100vh;
    margin:0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home-section-values{
    margin-top:110px;
    padding-left: 40px;
}

.about-section{
    text-align: center;
}

.about-sec-block{
    height: 350px;
    width:350px;
    text-align: center;
}

.about-sec-block img{
    height:50px;
    width:50px;
    border-radius: 25px;
}

.about-sec-block h3{
    text-transform: uppercase;
}

.about-containers{
    display: flex;
    flex-direction: row;
    gap:20px;
    margin-bottom: -130px;
}

.center-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.latest-videos{
    background-color: #f4f3fd;
    padding:20px;
}

.latest-videos img{
    height: 180px;
    width: 350px;
    border-radius: 10px;
}

.latest-videos-sec{
    display:flex;
    flex-direction: row;
    gap:20px;
    justify-content: center;
}

.latest-btn{
    width:158px;
}

.email-logo{
    height: 105px;
    width: 120px;
}

.email-cont{
    display:flex;
    flex-direction: row;
    gap:20px;
}

.email-cont h3{
    text-transform: uppercase;
}

input{
    height:28px;
    width: 250px;
}

.input-box{
    display: flex;
    flex-direction: row;
    margin-top:45px;
}

.subscribe-btn{
    width:145px;
}

.final-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.footer-1 img{
    height: 40px;
    width: 40px;
    border-radius: 13px;
    margin-top:15px;
}

.footer-1{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.footer{

    padding:20px;
    background-color: #09152d;
    color:white;
}

.footer h3{
    text-transform: uppercase;
}

.footer-sec{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}